.cabecalho{
    background-image: linear-gradient(to right,#086788, #001647);
    height: 150px;
    width: 100%;
}
.logo img{
    padding: 1%;
    width: 14%;
    position: absolute;
    left: 86%;
    top: 6.5%;
}
.nome{
    position: relative;
    font-style: italic;
    left: 3%;
    font-size: 60px;
}
.navegacao{
    overflow:hidden;
}
.navegacao a{
    float: right;
    display: block;
    color: rgb(247, 8, 8);
    padding: 10px;
    text-decoration: none;
    text-align: right;
}
.navegacao a:hover{
    color:#16207c;
    background-color: rgb(169, 224, 228);
}
.principal img{
    width: 55%;
    display: inline-block;
    height: 450px;
    left: 10%;
}
.titulo{
    padding-left: 5%;
    background-position: left;
    background-attachment: fixed;
    font-size: 15px;
    text-align: left;
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #04145C;
}
.subtitulo{
    color:#16207c;
    padding-left: 5%;
}
.principal p{
    width: 35%;
    position: absolute;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-position: right;
    font-weight: bolder;
    margin-top: 60px;
    left: 57%;
    background-color: gainsboro;
    border-radius: 3px;
    box-shadow: 5px 5px 5px;
    padding: 30px;
}
.locais h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #066f86;
    font-style:inherit;
    font-size:medium;
    position:relative;
    padding-left:5% ;
}
.img{
    display: inline-block;
    width: 55%;
    background-position: left;
    position:relative;
    padding-left: 5%;
}
.txt{
    display: inline-block;
    width: 40%;
    background-position: right;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    position:absolute;
    margin-top: 20px;    
    font-weight: bolder;
    background-color: gainsboro;
    border-radius: 3px;
    box-shadow: 5px 5px 5px;
    padding: 50px;
    left: 50%;
}   
.africa img{
    height: 400px;
    width: 70%;
    padding: 10px;
}
.africa .txt{
    margin-top: 50px;
}
.grecia img{
    height: 400px;
    width: 70%;
    padding: 10px;
}
.veneza img{
    height: 400px;
    width: 70%;
    padding: 10px;
}
.vietnam img{
    height: 400px;
    width: 70%;
    padding: 10px;
}
.rodape{
    position: relative;
    background-color: #2e3e85;
    width: 100%;
}
.txt-rodape{
    padding: 10px;
    text-align: left;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:rgb(218, 255, 255);
}